.chat-main__group-info__left-box
  %h1.chat-main__group-info__left-box__current-group
    = group.name
  %ul.chat-main__group-info__left-box__member-list
    Member:
    %li
      - group.users.each do |user|
        = user.name
= link_to edit_group_path(group.id), class: "chat-main__group-info__right-box" do
  .chat-main__group-info__right-box__edit-btn    
    Edit