.chat-main
  .chat-main__group-info
    .chat-main__group-info__left-box
      %h1.chat-main__group-info__left-box__current-group
        test
      %ul.chat-main__group-info__left-box__member-list
        Member:
        %li
          ytk
    = link_to "#", class: "chat-main__group-info__right-box" do
      .chat-main__group-info__right-box__edit-btn    
        Edit
  .chat-main__message-list
    .chat-main__message-list__message
      .chat-main__message-list__message__upper-box
        %p.chat-main__message-list__message__upper-box__talker
          ytk
        %p.chat-main__message-list__message__upper-box__datetime
          2020/04/18(Sat) 23:04:41
      .chat-main__message-list__message__text
        yoyo
    .chat-main__message-list__message
      .chat-main__message-list__message__upper-box
        %p.chat-main__message-list__message__upper-box__talker
          yuki
        %p.chat-main__message-list__message__upper-box__datetime
          2020/04/19(Sun) 21:04:41
      .chat-main__message-list__message__text
        ok babe
    .chat-main__message-list__message
      .chat-main__message-list__message__upper-box  
        %p.chat-main__message-list__message__upper-box__talker
          nagi
        %p.chat-main__message-list__message__upper-box__datetime
          2020/10/22(Sat) 09:17:00
      .chat-main__message-list__message__text
        babooo