.chat-main
  .chat-main__group-info
    .chat-main__group-info__left-box
      %h1.chat-main__group-info__left-box__current-group
        test
      %ul.chat-main__group-info__left-box__member-list
        Member:
        %li
          ytk
  .chat-main__message-list
  .chat-main__message-form