- messages.each do |msg|
  .chat-main__message-list__message{data: {message: {id: msg.id}} }
    .chat-main__message-list__message__upper-box
      %p.chat-main__message-list__message__upper-box__talker
        = msg.user.name
      %p.chat-main__message-list__message__upper-box__datetime
        = msg.created_at
    .chat-main__message-list__message__text
      - if msg.text.present?
        = msg.text
      - if msg.image.present?
        = image_tag msg.image.url, class: 'chat-main__message-list__message__image' 