//Variables for chat-main
//Colors
$WhiteForChatMainBG:  #ffffff;
$WhiteForGroupInfoBG: #ffffff;
$WhiteForSubmitTxt:  #ffffff;
$WhiteForMessageListBG: #fafafa;
$WhiteForMessageFormBG: #d2d2d2;
$GrayForCurrentGroupTxt: #333333;
$GrayForTalkerTxt: #333333;
$LightBlueForButtons: #38aef0;
$LightGrayForPaleTxt: #999999;
//Margins
$SideMarginsChatMain: 40px;

//Variables for side-bar
//Colors
$WhiteForSideBarTxt: #ffffff;
$IndigoForSideBarBG: #253141;
$IndigoForGroupListBG: #2f3e51;
//Margins
$LeftMarginSideBar: 20px;
//Font
$FontWeightSideBar: bold;