@import "reset";
@import "modules/messages";
@import "font-awesome-sprockets";
@import "font-awesome";

.wrapper{
  height: 100vh;
  width: 100vw;
  display: flex;
  .side-bar {
    background-color: #253141;
    height: 100%;
    width: 300px;
    
    &__user-name{
      background-color: #253141;
      height: 100px;
      display: flex;
      align-items: center;
      line-height: 100%;
      font-weight: bold;
      &__name-icons {
        height: 20px;
        width: 260px;
        margin-left: 20px;
        display: flex;
        justify-content: space-between;
        &__name {
          height: 100%;
          color: #ffffff;
          width: auto;
        }
        ul {
          list-style: none;
          display: flex;
          justify-content: right;
          li {
            margin-left: 5px;
            a {
              color: #ffffff;
              box-sizing: border-box;
              text-decoration: none;
            }
          }  
        }
      }
    }

    &__group-list{
      background-color: #2f3e51;
      color: #ffffff;
      height: calc(100% - 100px);
      padding-top: 20px;
      font-weight: bold;
      &__group-name{
        font-size: 15px;
        margin-left: 20px;
        margin-bottom: 5px;
      }
      &__last-message{
        font-size: 11px;
        margin-left: 20px;
        margin-bottom: 40px;
      }
    }
  }
  
  .chat-main {
    background-color: #ffffff;
    height: 100%;
    width: calc(100vw - 300px);
    &__group-info{
      background-color: #ffffff;
      height: 100px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      &__left-box{
        height: 100%;
        width: auto;
        padding-top: 35px;
        padding-left: 40px;
        &__current-group{
          height: auto;
          color: #333333;
          font-size: 20px;
        }
        &__member-list {
          height: auto;
          margin-top: 15px;
          bottom: 0px;
          color: #999999;
          font-size: 12px;
          display: flex;
        }  
      }
      &__right-box{
        width: 72px;
        margin-top: 28px;
        margin-right: 40px;
        text-decoration: none;
        display: flex;
        justify-content: center;
        &__edit-btn{
          height: 40px;
          line-height: 40px;
          padding-left: 20px;
          padding-right: 20px;
          color: #38aef0;
          border: solid 1px  #38aef0;
        }
      }
    }
    &__message-list{
      background-color: #fafafa;
      height: calc(100% - 100px - 90px);
      width: 100%;
    }
    &__message-form{
      background-color: #d2d2d2;
      height: 90px;
      width: 100%;
    }
  }
}
