@import "reset";
@import "modules/messages";
@import "font-awesome-sprockets";
@import "font-awesome";

.wrapper{
  height: 100vh;
  width: 100vw;
  display: flex;
  .side-bar {
    background-color: #253141;
    height: 100%;
    width: 300px;
    
    &__user-name{
      background-color: #253141;
      height: 100px;
      display: flex;
      align-items: center;
      &__name-icons {
        background-color: #d8d8d8;
        height: 20px;
        width: 260px;
        margin-left: 20px;
      }
    }

    &__group-list{
      background-color: #2f3e51;
      height: calc(100% - 100px);
    }

  }
  
  .chat-main {
    background-color: #ffffff;
    height: 100%;
    width: calc(100vw - 300px);
    
    &__group-info{
      background-color: #ffffff;
      height: 100px;
      width: 100%;
    }
    &__message-list{
      background-color: #fafafa;
      height: calc(100% - 100px - 90px);
      width: 100%;
    }
    &__message-form{
      background-color: #d2d2d2;
      height: 90px;
      width: 100%;
    }
  }
}
